* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    // WYŁĄCZENIE NIEBIESKIEJ POŚWIATY PODCZAS KLIKANIA W ELEMENT
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    // WYŁĄCZENIE MOŻLIWOŚCI ZAZNACZANIA TEKSTU
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
