.navbar {
    nav {
        display: inline-block;
        vertical-align: middle;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        height: 50px;
    }

    ul {
        text-align: center;

        li {
            display: inline-flex;
            text-align: center;
            cursor: pointer;

            a {
                text-decoration: none;
                padding: 15px;
                color: inherit;

                &.disabled {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }

            &.disabled {
                cursor: not-allowed;
            }

            &.choosed {
                // CIEŃ
                -webkit-box-shadow: 0 5px 6px -6px black;
                -moz-box-shadow: 0 5px 6px -6px black;
                box-shadow: 0 5px 6px -6px black;
            }
        }
    }
    // CIEŃ
    -webkit-box-shadow: 0 5px 6px -6px black;
    -moz-box-shadow: 0 5px 6px -6px black;
    box-shadow: 0 5px 6px -6px black;
}
