.app-toolbar {
    display: table;
    width: 100%;
    font-weight: 700;
    background-color: #0d47a1;
    color: #ffffff;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--left {
        float: left;
    }

    &--right {
        float: right;
        background-color: inherit;
    }

    &--item {
        display: inline-block;
        margin: 5px;
        cursor: pointer;
        background-color: inherit;

        &--adjust {
            margin-left: 5px;
            font-weight: normal;
        }
    }

    &--lang {
        padding: 5px 5px 0px 5px;
        cursor: pointer;

        &--main {
            clear: both;
            float: left;
            background-color: inherit;
        }

        &--list {
            position: absolute;
            background-color: inherit;
        }
    }
}
