@import './components/toolbar/flags.css';

.app-toolbar {
    display: table;
    width: 100%;
    font-weight: 700;
    background-color: #0d47a1;
    color: #ffffff;

    &--left {
        float: left;
    }

    &--right {
        float: right;
        background-color: inherit;
    }

    &--item {
        display: inline-block;
        margin: 5px;
        cursor: pointer;
        background-color: inherit;

        /* Bez zanaczania tekstu */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &--lang {
            clear: both;
            float: left;
            margin: 3px 0px 0px 0px;
            background-color: inherit;
            cursor: pointer;
        }
    }

    &--lang {
        padding: 5px 5px 0px 5px;

        &--list {
            padding: 0px 5px 0px 5px;
            position: absolute;
            background-color: inherit;
        }
    }
}
